body {
    margin: 0 auto;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    outline: none;
    border: none;
}

.fullScreen {
    display: flex;
    justify-content: center;
    width: 1400px;
    margin: 0 auto;
    border: solid 5px rgb(177, 177, 177);
    overflow: auto;
    border-radius: 40px;
    background-color: rgb(150, 150, 150);
    box-shadow: 
    0 10px 0 -5px rgb(100,100,100),
    0 20px 0 -10px rgb(95,95,95),
    0 30px 0 -15px rgb(90,90,90),
    0 40px 0 -20px rgb(85,85,85);
}

#buttonContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0;
    width: 175px;
    min-width: 175px;
}

.sideContainer {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sideButton {
    font-size: 30px;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    box-shadow: 10px 15px 15px 1px rgba(0, 0, 0, .7);
    transition: .5s;
}

.sideButton:active {
    height: 135px;
    width: 135px;
    font-size: 27px;
}

#startButton {
    color: rgb(255, 157, 157);
    background-image: radial-gradient(rgb(54, 13, 13), rgb(117, 43, 43));
    border: solid 5px rgb(109, 42, 42);
}

#infoButton {
    color: rgb(131, 143, 255);
    background-image: radial-gradient(rgb(12, 11, 83), rgb(42, 32, 179));
    border: solid 5px rgb(40, 41, 99);
}

#startButton:active {
    background-image: radial-gradient(rgb(209, 8, 8), rgb(138, 50, 50));
    box-shadow: 0 0 30px 0 red;
    border: solid 4px rgb(138, 50, 50);
}

#infoButton:active {
    background-image: radial-gradient(rgb(25, 36, 196), rgb(51, 50, 138));
    box-shadow: 0 0 30px 0 blue;
    border: solid 5px rgb(44, 45, 112);
}

#leaderboardContainer {
    margin: 10px 0;
    width: 200px;
}

ol {
    font-size: 10px;
}

.gameWindow {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    width: 1000px;
    min-width: 1000px;
    height: 675px;
    background-color: rgb(5, 0, 32);
    border-bottom: solid 15px rgb(179, 179, 179);
    border-top: solid 15px rgb(114, 114, 114);
    border-left: solid 15px rgb(90, 90, 90);
    border-right: solid 15px rgb(199, 199, 199);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

#planetContainer {
    position: absolute;
    background-image: linear-gradient(red, blue, green);
    z-index: 3;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -250px;
    left: 25%;
    animation-name: spin;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    animation-duration: 20s;
}

#planet {
    background-color: grey;
    width: 350px;
    height: 350px;
    z-index: 4;
    border-radius: 50%;
    background-image: linear-gradient(red, blue, green);
}

#backgroundSpace {
    position: absolute;
    height: 515px;
    width: 100%;
    border-bottom-left-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    background-color: white;
    z-index: 2;
    overflow: hidden;
}

#background {
    position: absolute;
    bottom: -50px;
    right: -200px;
    width: 1400px;
    height: 1400px;
    background-image: url(../images/space.jpg);
    background-size: 1400px 1400px;
    animation-name: spin;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 30s;
    border-radius: 50%;
}

@keyframes spin {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

.row {
    position: absolute;
    background-color: rgb(226, 226, 226);
}

#row2 {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    background-image: radial-gradient(rgb(0, 128, 64) 40%, rgb(179, 255, 0), black);
    height: 600px;
    overflow: hidden;
    width: 100%;
    border-bottom-left-radius: 80% 40%;
    border-bottom-right-radius: 80% 40%;
    bottom: 50px;
    z-index: 1;
    box-shadow: 0 0 20px 5px black inset;
}

#row1 {
    bottom: 0;
    width: 100%;
    height: 50%;
    background-image: radial-gradient(orange 50%, red);
    z-index: 0;
    box-shadow: 0 0 20px 5px black inset;
}

#scoreDisplay {
    position: absolute;
    left: 5px;
    bottom: 5px;
    color: black;
}

.type1 {
    width: 95px;
    height: 120px;
    border-radius: 50% 50% 0 0;
    transition: transform .6s;
    background-image: url(../images/—Pngtree—green\ aliens\ with\ a\ gun_5435934.png);
    background-size: 140px 140px;
    background-position: -34px 0;
    background-color: transparent;
}

.type2 {
    width: 80px;
    height: 100px;
    transition: transform .6s;
    background-image: url(../images/—Pngtree—pink\ aliens\ with\ a\ gun_5435935.png);
    background-size: 120px 120px;
    background-position: -25px -5px;
    border-radius: 40% 30% 0 0;
    background-color: transparent;
}

.type3 {
    width: 50px;
    height: 80px;
    transition: transform .6s;
    background-color: red;
}

h2 {
    margin: 5px;
    color: silver;
}

#row3 {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    background-color: transparent;
    height: 600px;
    overflow: hidden;
    width: 100%;
    bottom: 0px;
    z-index: 1;
}

#type1num1 {
    transform: translate(-15px, 125px) rotate(15deg);
}

#type1num2 {
    transform: translate(-10px, 125px) rotate(3deg);
}

#type1num3 {
    transform: translate(10px, 125px) rotate(-3deg);
}

#type1num4 {
    transform: translate(15px, 125px) rotate(-15deg);
}

#type1num5 {
    transform: translate(-50px, 125px) rotate(25deg);
}

#type1num6 {
    transform: translate(0, 125px) rotate(1deg);
}

#type1num7 {
    transform: translate(0, 125px) rotate(-1deg);
}

#type1num8 {
    transform: translate(25px, 125px) rotate(-25deg);
}

#type2num1 {
    transform: translate(0, 0) rotate(8deg);
}

#type2num2 {
    transform: translate(0, 0) rotate(-8deg);
}

#type2num3 {
    transform: translate(50px, -90px) rotate(35deg);
}

#type2num4 {
    transform: translate(0, 0) rotate(8deg);
}

#type2num5 {
    transform: translate(0, 0) rotate(-8deg);
}

#type2num6 {
    transform: translate(-50px, -90px) rotate(-35deg);
}

#type3num1 {
    transform: translate(25px, -75px) rotate(25deg);
}

#type3num2 {
    transform: translate(0, 0) rotate(0deg);
}

#type3num3 {
    transform: translate(-25px, -75px) rotate(-25deg);
}

#type3num4 {
    transform: translate(0, -35px) rotate(20deg);
}

#type3num5 {
    transform: translate(0, -35px) rotate(-20deg);
}