body{
    margin: 0 auto;
    background-color: rgb(150, 150, 150);
    font-family: Arial, Helvetica, sans-serif;
}
button {
    outline: none;
}
.fullScreen {
    display: flex;
    justify-content: center;
    border: solid 1px red;
    overflow: auto;
}
#buttonContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0;
    width: 175px;
    min-width: 175px;
    border: solid 1px red;
}
.sideContainer {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sideButton {
    font-size: 30px;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    box-shadow: 10px 15px 15px 1px rgba(0, 0, 0, .7);
    transition: .5s;
}
.sideButton:active {
    height: 140px;
    width: 140px;
    font-size: 28px;
}
#startButton {
    color: rgb(255, 157, 157);
    background-image: radial-gradient(rgb(54, 13, 13), rgb(117, 43, 43));
    border: solid 5px rgb(109, 42, 42);
}
#infoButton {
    color: rgb(131, 143, 255);
    background-image: radial-gradient(rgb(12, 11, 83),rgb(42, 32, 179));
    border: solid 5px rgb(40, 41, 99);
}
#startButton:active {
    background-image: radial-gradient(rgb(209, 8, 8),rgb(138, 50, 50));
    box-shadow: 0 0 30px 0 red;
    border: solid 4px rgb(138, 50, 50);
}
#infoButton:active {
    background-image: radial-gradient(rgb(25, 36, 196),rgb(51, 50, 138));
    box-shadow: 0 0 30px 0 blue;
    border: solid 5px rgb(44, 45, 112);
}
#leaderboardContainer{
    margin: 25px 0;
    width: 200px;
    border: solid 1px red;
}
ol {
    font-size: 10px;
}
.gameWindow {
    display: flex;
    flex-direction: column;
    margin: 25px 0;
    width: 1000px;
    min-width: 1000px;
    height: 700px;
    background-color: rgb(5, 0, 32);
    border-bottom: solid 15px rgb(179, 179, 179);
    border-top: solid 15px rgb(114, 114, 114);
    border-left: solid 15px rgb(90, 90, 90);
    border-right: solid 15px rgb(199, 199, 199);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}
#backgroundSpace {
    position: absolute;
    height: 500px;
    width: 100%;
    border-bottom-left-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    background-color: white;
    z-index: 2;
    overflow: hidden;
}
#background {
    position: absolute;
    bottom: -50px;
    right: -200px;
    width: 1400px;
    height: 1400px;
    background-image: linear-gradient(black,rgb(51, 2, 51),black,rgb(5, 5, 80),black,rgb(61, 6, 6),black);
    animation-name: spin;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 30s;
    border-radius: 50%;
}
@keyframes spin {
    0% {transform: rotate(0deg)}
    100% {transform: rotate(360deg)}
}
.row {
    position: absolute;
    background-color: rgb(226, 226, 226);
}
#row2 {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    background-color: rgb(180, 180, 180);
    height: 600px;
    overflow: hidden;
    width: 100%;
    border-bottom-left-radius: 80% 40%;
    border-bottom-right-radius: 80% 40%;
    bottom: 50px;
    z-index: 1;
    box-shadow: 0 0 20px 5px black inset;
}
#row1 {
    bottom: 0;
    width: 100%;
    height: 50%;
    background-color: rgb(220, 220, 220);
    z-index: 0;
    box-shadow: 0 0 20px 5px black inset;
}
#scoreDisplay {
    position: absolute;
    left: 5px;
    bottom: 5px;
    color: black;
}
.type1 {
    width: 80px;
    height: 120px;
    transition: transform .6s;
    background-image: linear-gradient(green,rgb(0, 78, 0))
}
.type2 {
    width: 60px;
    height: 100px;
    transition: transform .6s;
    background-color: orange;
}
.type3 {
    width: 50px;
    height: 90px;
    transition: transform .6s;
    background-color: red;
}
#r1t1 {
    transform: translate(0, 125px);
}
#r1t2 {
    transform: translate(0, 125px);
}
#r1t3 {
    transform: translate(50px, 125px) rotate(-20deg);
}
#r2t1 {
    transform: translate(0, 125px);
}
#r2t2 {
    transform: translate(50px, 125px) rotate(-20deg);
}
h2 {
    margin: 5px;
    color: silver;
}
#row3 {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    background-color: transparent;
    height: 600px;
    overflow: hidden;
    width: 100%;
    bottom: 0px;
    z-index: 1;
    border: solid 1px red;
}
