/* defaults */
@font-face {
    src: url(../fonts/digital-7.ttf);
    font-family: digital;
}
body {
    background-color: black;
    font-family: digital;
    border: none;
}

button {
    outline: none;
    border: none;
}

button:hover {
    cursor: crosshair;
}

/* styling for the container around all the elements on the screen */
.fullScreen {
    display: flex;
    justify-content: center;
    width: 1380px;
    margin: 0 auto;
    border: solid 5px rgb(177, 177, 177);
    overflow: auto;
    border-radius: 35px;
    background-color: rgb(150, 150, 150);
    box-shadow:
        0 10px 0 -5px rgb(100, 100, 100),
        0 20px 0 -10px rgb(95, 95, 95),
        0 30px 0 -15px rgb(90, 90, 90),
        0 40px 0 -20px rgb(85, 85, 85);
}

/* styling for the container on the left with the title and the buttons for starting the game and info */
#titleDisplay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    border-bottom: solid 5px rgb(179, 179, 179);
    border-top: solid 5px rgb(114, 114, 114);
    border-left: solid 5px rgb(90, 90, 90);
    border-right: solid 5px rgb(199, 199, 199);
    background-color: rgb(21, 32, 16);
    margin: 10px auto;
}

.titleWords {
    color: chartreuse;
    font-size: 40px;
    margin: 0 auto;
}

#leftButtonArea {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0;
    width: 175px;
    min-width: 175px;
    height: 70%;
}

.buttonContainer {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sideButton {
    font-size: 25px;
    font-family: Arial;
    height: 125px;
    width: 125px;
    border-radius: 50%;
    box-shadow: 10px 15px 15px 1px rgba(0, 0, 0, .7);
    transition: .5s;
}

.sideButton:active {
    height: 110px;
    width: 110px;
    font-size: 22px;
}

#startButton {
    color: rgb(255, 157, 157);
    background-image: radial-gradient(rgb(54, 13, 13), rgb(117, 43, 43));
    border: solid 5px rgb(109, 42, 42);
}

#startButton:active {
    background-image: radial-gradient(rgb(209, 8, 8), rgb(138, 50, 50));
    box-shadow: 0 0 30px 0 red;
    border: solid 4px rgb(138, 50, 50);
}

#infoButton {
    color: rgb(131, 143, 255);
    background-image: radial-gradient(rgb(12, 11, 83), rgb(42, 32, 179));
    border: solid 5px rgb(40, 41, 99);
}


#infoButton:active {
    background-image: radial-gradient(rgb(25, 36, 196), rgb(51, 50, 138));
    box-shadow: 0 0 30px 0 blue;
    border: solid 5px rgb(44, 45, 112);
}

/* styling for leaderboard and other things on the right */
#rightSideArea {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#rightSideArea > * {
    border-bottom: solid 5px rgb(179, 179, 179);
    border-top: solid 5px rgb(114, 114, 114);
    border-left: solid 5px rgb(90, 90, 90);
    border-right: solid 5px rgb(199, 199, 199);
    border-radius: 10px;
    color: chartreuse;
    background-color: rgb(21, 32, 16);
    width: 150px;
}
#leaderboardContainer {
    margin: 10px 5px 0 5px;
    height: 200px;
}
#leaderBoard {
    padding-left: 20px;
}
#lbName {
    text-align: center;
    margin: 5px auto;
}
.leaders {
    font-size: 16px;
    margin: 15px 0;
}
#scoreScreen {
    margin: 5px 5px;
    height: 75px;
}
#scoreDisplay {
    margin-left: 5px;
    font-size: 30px;
}
#nameEnterInput {
    height: 40px;
    outline: none;
    text-align: center;
    padding: 0;
    font-size: 20px;
    font-family: digital;
}
#nameEnterButton {
    margin: 5px;
    height: 40px;
    border: solid 5px rgb(43, 122, 43);
    background-image: radial-gradient(rgb(10, 41, 10), rgb(0, 134, 0));
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, .7);
    width: 160px;
    font-size: 20px;
    color: rgb(185, 255, 185);
    transition: .5s;
}
#nameEnterButton:active {
    background-image: radial-gradient(rgb(20, 175, 0), rgb(0, 100, 0));
    box-shadow: 0 0 15px 0 rgb(72, 255, 0);
}
.vent {
    height: 10px;
    background-color: black!important;
    margin: 1.5px auto;
}
/* styling related to game window and everthing inside it */
.gameWindow {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    width: 1000px;
    min-width: 1000px;
    height: 675px;
    background-color: rgb(5, 0, 32);
    border-bottom: solid 15px rgb(179, 179, 179);
    border-top: solid 15px rgb(114, 114, 114);
    border-left: solid 15px rgb(90, 90, 90);
    border-right: solid 15px rgb(199, 199, 199);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

#planetContainer {
    position: absolute;
    background-color: transparent;
    z-index: 3;
    width: 600px;
    height: 600px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 10s;
    top: -700px;
    left: 200px;
    animation-name: spin;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    animation-duration: 15s;
}

#planet {
    position: absolute;
    top: auto;
    left: auto;
    background-color: grey;
    width: 400px;
    height: 400px;
    z-index: 4;
    border-radius: 50%;
    background-image: url(../images/earthdark.jpg);
    background-size: 402px 402px;
    background-color: black;
}

#backgroundSpace {
    position: absolute;
    height: 500px;
    width: 100%;
    border-bottom-left-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    background-color: black;
    z-index: 2;
    overflow: hidden;
}

#background {
    position: absolute;
    bottom: -50px;
    right: -200px;
    width: 1400px;
    height: 1400px;
    background-image: url(../images/space2.jpg);
    background-size: 700px 700px;
    animation-name: spin;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 60s;
    border-radius: 50%;
    overflow: hidden;
}

@keyframes spin {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

.row {
    position: absolute;
    background-color: rgb(226, 226, 226);
}

#row2 {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    background-color: transparent;
    height: 600px;
    overflow: hidden;
    width: 100%;
    bottom: 0px;
    z-index: 1;
}

#row1 {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    background-image: url(../images/secondRow.jpg);
    height: 650px;
    overflow: hidden;
    width: 100%;
    border-bottom-left-radius: 80% 40%;
    border-bottom-right-radius: 80% 40%;
    top: 0;
    z-index: 1;
    box-shadow: 0 0 20px 5px black inset;
}
.decorativeButton {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: solid 3px rgb(60,60,60);
    box-shadow: 2px 4px 10px 0 rgba(0, 0, 0, .7);
}
#decoButt1 {
    background-color: rgb(66, 5, 5);
    bottom: 150px;
    left: 60px;
    animation-name: redBlink;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
}
#decoButt2 {
    background-color: rgb(105, 112, 0);
    bottom: 105px;
    left: 145px;
    animation-name: yellowBlink;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
}
#decoButt3 {
    background-color: rgb(6, 49, 35);
    bottom: 75px;
    left: 240px;
    animation-name: greenBlink;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
#decoButt4 {
    background-color: rgb(6, 49, 35);
    bottom: 75px;
    right: 240px;
    animation-name: greenBlink;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
#decoButt5 {
    background-color: rgb(105, 112, 0);
    bottom: 105px;
    right: 145px;
    animation-name: yellowBlink;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
}
#decoButt6 {
    background-color: rgb(66, 5, 5);
    bottom: 150px;
    right: 60px;
    animation-name: redBlink;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
}
@keyframes greenBlink {
    0% {background-color: rgb(6, 49, 35)}
    25% {background-color: rgb(6, 49, 35)}
    50% {background-color: rgb(0, 255, 106)}
    75% {background-color: rgb(6, 49, 35)}
    100% {background-color: rgb(6, 49, 35)}
}
@keyframes yellowBlink {
    0% {background-color: rgb(105, 112, 0)}
    25% {background-color: rgb(105, 112, 0)}
    50% {background-color: rgb(251, 255, 0)}
    75% {background-color: rgb(105, 112, 0)}
    100% {background-color: rgb(105, 112, 0)}
}
@keyframes redBlink {
    0% {background-color: rgb(66, 5, 5)}
    25% {background-color: rgb(66, 5, 5)}
    50% {background-color: rgb(255, 0, 0)}
    75% {background-color: rgb(66, 5, 5)}
    100% {background-color: rgb(66, 5, 5)}
}

#frontDisplay {
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(grey 75%, black);
    z-index: 0;
    box-shadow: 0 0 20px 5px black inset;
}

.type1 {
    width: 95px;
    height: 120px;
    border-radius: 50% 50% 0 0;
    transition: transform 1s;
    background-image: url(../images/—Pngtree—green\ aliens\ with\ a\ gun_5435934.png);
    background-size: 140px 140px;
    background-position: -34px 0;
    background-color: transparent;
    z-index: 3;
}

.type2 {
    width: 80px;
    height: 100px;
    transition: transform 1s;
    background-image: url(../images/—Pngtree—pink\ aliens\ with\ a\ gun_5435935.png);
    background-size: 120px 120px;
    background-position: -24px -5px;
    border-radius: 40% 30% 0 0;
    background-color: transparent;
    z-index: 3;
}

.type3 {
    width: 60px;
    height: 80px;
    transition: transform 1s;
    background-image: url(../images/—Pngtree—purple\ aliens\ with\ a\ gun_5435936.png);
    background-size: 60px 80px;
    border-radius: 10% 50% 0 0;
    background-color: transparent;
    z-index: 3;
}

/* initial positioning for each target */
#type1num1 {
    transform: translate(-15px, 125px) rotate(15deg);
}

#type1num2 {
    transform: translate(-10px, 125px) rotate(3deg);
}

#type1num3 {
    transform: translate(10px, 125px) rotate(-3deg);
}

#type1num4 {
    transform: translate(15px, 125px) rotate(-15deg);
}

#type1num5 {
    transform: translate(-50px, 125px) rotate(25deg);
}

#type1num6 {
    transform: translate(0, 125px) rotate(1deg);
}

#type1num7 {
    transform: translate(0, 125px) rotate(-1deg);
}

#type1num8 {
    transform: translate(25px, 125px) rotate(-25deg);
}

#type2num1 {
    transform: translate(-20px, 100px) rotate(8deg);
}

#type2num2 {
    transform: translate(20px, 100px) rotate(-8deg);
}

#type2num3 {
    transform: translate(-10px, 0) rotate(35deg);
}

#type2num4 {
    transform: translate(-20px, 100px) rotate(8deg);
}

#type2num5 {
    transform: translate(20px, 100px) rotate(-8deg);
}

#type2num6 {
    transform: translate(10px, 0px) rotate(-35deg);
}

#type2num7 {
    transform: translate(100px, 0) rotate(-90deg);
}

#type2num8 {
    transform: translate(100px, -140px) rotate(0deg);
}

#type2num9 {
    transform: translate(-40px, 105px) rotate(180deg);
}

#type2num10 {
    transform: translate(-40px, 0) rotate(90deg);
}

#type3num1 {
    transform: translate(-10px, 0) rotate(25deg);
}

#type3num2 {
    transform: translate(0, 85px) rotate(0deg);
}

#type3num3 {
    transform: translate(10px, 0) rotate(-25deg);
}

#type3num4 {
    transform: translate(-15px, 50px) rotate(20deg);
}

#type3num5 {
    transform: translate(15px, 50px) rotate(-20deg);
}

#type3num6 {
    transform: translate(60px, 105px) rotate(-135deg);
}

#type3num7 {
    transform: translate(-80px, -105px) rotate(-45deg);
}

#type3num8 {
    transform: translate(0px, -105px) rotate(45deg);
}

#type3num9 {
    transform: translate(-140px, 105px) rotate(135deg);
}